In [1]:
import warnings
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('sofifa.csv')

In [3]:
df.head()

,NAME,AGE,OVA,POT,TEAM_CONTRACT,ID,HEIGHT,WEIGHT,FOOT,BOV,...,WEAK_FOOT,SKILL_MOVES,ATTACK_WORK_RATE,DEFENSIVE_WORK_RATE,INTERNATIONAL_REPUTATION,BODY_TYPE,PACE,SHOOTING,DEFENDING,PHYSICAL
0,Désiré Doué,19,79,88,Paris Saint-Germain\n2024 ~ 2029,271421,"181cm / 5'11""",79kg / 174lbs,Right,81,...,2048.0,442.0,3.0,5.0,NaN,NaN,NaN,NaN,73.0,76.0
1,João Pedro Gonçalves Neves,19,83,89,Paris Saint-Germain\n2024 ~ 2029,272834,"174cm / 5'9""",66kg / 146lbs,Right,85,...,2188.0,467.0,4.0,3.0,NaN,NaN,NaN,NaN,69.0,79.0
2,Ousmane Dembélé,27,86,86,Paris Saint-Germain\n2023 ~ 2028,231443,"178cm / 5'10""",67kg / 148lbs,Left,86,...,2093.0,442.0,5.0,5.0,NaN,NaN,NaN,NaN,80.0,82.0
3,Khvicha Kvaratskhelia,23,85,89,Paris Saint-Germain\n2025 ~ 2029,247635,"183cm / 6'0""",70kg / 154lbs,Right,87,...,2090.0,446.0,5.0,5.0,NaN,NaN,NaN,NaN,79.0,81.0
4,Martin Ødegaard,25,88,89,Arsenal\n2021 ~ 2028,222665,"178cm / 5'10""",68kg / 150lbs,Left,88,...,2242.0,463.0,2.0,5.0,NaN,NaN,NaN,NaN,82.0,89.0

In [4]:
df.describe()

,AGE,ID,BOV,GROWTH,TA,CROSSING,FINISHING,HEADING_ACCURACY,SHORT_PASSING,VOLLEYS,...,TOTAL_STATS,BASE_STATS,WEAK_FOOT,SKILL_MOVES,ATTACK_WORK_RATE,DEFENSIVE_WORK_RATE,PACE,SHOOTING,DEFENDING,PHYSICAL
count,58545.000000,58545.000000,58545.000000,58545.000000,58545.000000,58545.000000,58545.000000,58545.000000,58545.000000,58545.000000,...,58541.000000,58541.000000,58541.000000,58541.000000,58541.000000,58541.000000,0.0,0.0,58541.000000,58540.000000
mean,26.573627,196493.903322,74.837629,2.427449,292.213255,58.685370,54.106226,59.519686,67.736254,52.165719,...,16.442989,16.703165,1809.035343,399.694778,3.135666,2.663979,NaN,NaN,62.506431,66.767134
std,4.099967,41513.244785,4.442284,3.143843,75.567969,18.842407,20.421279,18.199127,14.089073,19.286884,...,19.063189,19.941997,244.815953,31.750894,0.716568,0.891818,NaN,NaN,13.468596,8.928231
min,16.000000,2.000000,65.000000,0.000000,43.000000,6.000000,4.000000,5.000000,10.000000,4.000000,...,1.000000,1.000000,917.000000,274.000000,1.000000,1.000000,NaN,NaN,14.000000,31.000000
25%,24.000000,182945.000000,71.000000,0.000000,273.000000,50.000000,39.000000,52.000000,65.000000,38.000000,...,8.000000,8.000000,1725.000000,380.000000,3.000000,2.000000,NaN,NaN,55.000000,62.000000
50%,26.000000,201942.000000,74.000000,1.000000,313.000000,65.000000,60.000000,64.000000,71.000000,57.000000,...,11.000000,11.000000,1856.000000,401.000000,3.000000,3.000000,NaN,NaN,66.000000,68.000000
75%,29.000000,222991.000000,78.000000,4.000000,339.000000,72.000000,70.000000,72.000000,76.000000,67.000000,...,14.000000,14.000000,1966.000000,421.000000,4.000000,3.000000,NaN,NaN,72.000000,73.000000
max,45.000000,279709.000000,94.000000,21.000000,441.000000,95.000000,97.000000,95.000000,97.000000,93.000000,...,91.000000,93.000000,2351.000000,514.000000,5.000000,5.000000,NaN,NaN,93.000000,95.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58545 entries, 0 to 58544
Data columns (total 70 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NAME                      58545 non-null  object
 1   AGE                       58545 non-null  int64
 2   OVA                       58545 non-null  object
 3   POT                       58545 non-null  object
 4   TEAM_CONTRACT             58545 non-null  object
 5   ID                        58545 non-null  int64
 6   HEIGHT                    58545 non-null  object
 7   WEIGHT                    58545 non-null  object
 8   FOOT                      58545 non-null  object
 9   BOV                       58545 non-null  int64
 10  BP                        58545 non-null  object
 11  GROWTH                    58545 non-null  int64
 12  JOINED                    58545 non-null  object
 13  LOAN_DATE_END             3841 non-null   object
 14  VALUE                     58545 non-null  object
 15  WAGE                      58545 non-null  object
 16  RC                        58545 non-null  object
 17  TA                        58545 non-null  int64
 18  CROSSING                  58545 non-null  int64
 19  FINISHING                 58545 non-null  int64
 20  HEADING_ACCURACY          58545 non-null  int64
 21  SHORT_PASSING             58545 non-null  int64
 22  VOLLEYS                   58545 non-null  int64
 23  TOTAL_SKILL               58545 non-null  int64
 24  DRIBBLING                 58541 non-null  float64
 25  CURVE                     58545 non-null  int64
 26  FK_ACCURACY               58545 non-null  int64
 27  LONG_PASSING              58545 non-null  int64
 28  BALL_CONTROL              58545 non-null  int64
 29  TOTAL_MOVEMENT            58545 non-null  int64
 30  ACCELERATION              58545 non-null  int64
 31  SPRINT_SPEED              58545 non-null  int64
 32  AGILITY                   58544 non-null  float64
 33  REACTIONS                 58544 non-null  float64
 34  BALANCE                   58544 non-null  float64
 35  TOTAL_POWER               58544 non-null  float64
 36  SHOT_POWER                58544 non-null  float64
 37  JUMPING                   58544 non-null  float64
 38  STAMINA                   58542 non-null  float64
 39  STRENGTH                  58543 non-null  float64
 40  LONG_SHOTS                58543 non-null  float64
 41  TOTAL_MENTALITY           58543 non-null  float64
 42  AGGRESSION                58543 non-null  float64
 43  INTERCEPTIONS             58543 non-null  float64
 44  ATT_POSITION              0 non-null      float64
 45  VISION                    58543 non-null  float64
 46  PENALTIES                 58543 non-null  float64
 47  COMPOSURE                 58542 non-null  float64
 48  TOTAL_DEFENDING           58542 non-null  float64
 49  DEFENSIVE_AWARENESS       58542 non-null  float64
 50  STANDING_TACKLE           58542 non-null  float64
 51  SLIDING_TACKLE            58542 non-null  float64
 52  TOTAL_GOALKEEPING         58541 non-null  float64
 53  GK_DIVING                 58541 non-null  float64
 54  GK_HANDLING               58541 non-null  float64
 55  GK_KICKING                58541 non-null  float64
 56  GK_POSITIONING            58541 non-null  float64
 57  GK_REFLEXES               58541 non-null  float64
 58  TOTAL_STATS               58541 non-null  float64
 59  BASE_STATS                58541 non-null  float64
 60  WEAK_FOOT                 58541 non-null  float64
 61  SKILL_MOVES               58541 non-null  float64
 62  ATTACK_WORK_RATE          58541 non-null  float64
 63  DEFENSIVE_WORK_RATE       58541 non-null  float64
 64  INTERNATIONAL_REPUTATION  53570 non-null  object
 65  BODY_TYPE                 53570 non-null  object
 66  PACE                      0 non-null      float64
 67  SHOOTING                  0 non-null      float64
 68  DEFENDING                 58541 non-null  float64
 69  PHYSICAL                  58540 non-null  float64
dtypes: float64(37), int64(18), object(15)
memory usage: 31.3+ MB

In [6]:
df_copy=df.copy()

In [7]:
df_copy.head()

,NAME,AGE,OVA,POT,TEAM_CONTRACT,ID,HEIGHT,WEIGHT,FOOT,BOV,...,WEAK_FOOT,SKILL_MOVES,ATTACK_WORK_RATE,DEFENSIVE_WORK_RATE,INTERNATIONAL_REPUTATION,BODY_TYPE,PACE,SHOOTING,DEFENDING,PHYSICAL
0,Désiré Doué,19,79,88,Paris Saint-Germain\n2024 ~ 2029,271421,"181cm / 5'11""",79kg / 174lbs,Right,81,...,2048.0,442.0,3.0,5.0,NaN,NaN,NaN,NaN,73.0,76.0
1,João Pedro Gonçalves Neves,19,83,89,Paris Saint-Germain\n2024 ~ 2029,272834,"174cm / 5'9""",66kg / 146lbs,Right,85,...,2188.0,467.0,4.0,3.0,NaN,NaN,NaN,NaN,69.0,79.0
2,Ousmane Dembélé,27,86,86,Paris Saint-Germain\n2023 ~ 2028,231443,"178cm / 5'10""",67kg / 148lbs,Left,86,...,2093.0,442.0,5.0,5.0,NaN,NaN,NaN,NaN,80.0,82.0
3,Khvicha Kvaratskhelia,23,85,89,Paris Saint-Germain\n2025 ~ 2029,247635,"183cm / 6'0""",70kg / 154lbs,Right,87,...,2090.0,446.0,5.0,5.0,NaN,NaN,NaN,NaN,79.0,81.0
4,Martin Ødegaard,25,88,89,Arsenal\n2021 ~ 2028,222665,"178cm / 5'10""",68kg / 150lbs,Left,88,...,2242.0,463.0,2.0,5.0,NaN,NaN,NaN,NaN,82.0,89.0

In [8]:
df_copy.isnull().sum()

NAME                 0
AGE                  0
OVA                  0
POT                  0
TEAM_CONTRACT        0
                 ...
BODY_TYPE         4975
PACE             58545
SHOOTING         58545
DEFENDING            4
PHYSICAL             5
Length: 70, dtype: int64

In [9]:
columns_to_drop = [
    'NAME',                 
    'ID',                   
    'LOAN_DATE_END',        
    'ATT_POSITION',         
    'PACE',                 
    'SHOOTING',             
    'HEIGHT',               
    'WEIGHT',               
]
df_copy.drop(columns=columns_to_drop, inplace=True)

## Converting non numerical data into numerical

In [10]:

for col in ['AGE', 'OVA', 'POT', 'GROWTH', 'BOV']:
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce')
    df_copy[col] = df_copy[col].fillna(df_copy[col].median()).astype(int)

## Encoding data

In [11]:
from sklearn.preprocessing import LabelEncoder

bp_encoder = LabelEncoder()
df_copy['BP'] = bp_encoder.fit_transform(df_copy['BP'].astype(str))

In [12]:
df_copy['FOOT'] = df_copy['FOOT'].map({'Right': 0, 'Left': 1})
df_copy['FOOT'] = df_copy['FOOT'].fillna(0)

In [13]:
def money_to_numeric(money_str):
    if isinstance(money_str, str):
        money_str = money_str.replace('€', '').strip()
        if 'M' in money_str:
            return float(money_str.replace('M', '')) * 1_000_000
        elif 'K' in money_str:
            return float(money_str.replace('K', '')) * 1_000
        else:
            return float(money_str)
    return pd.NA

df_copy['RC'] = df_copy['RC'].apply(money_to_numeric)
df_copy['RC'] = df_copy['RC'].fillna(df_copy['RC'].median())

In [14]:
skill_total_cols = [col for col in df_copy.columns if col.startswith('SKILL_') or col.startswith('TOTAL_')]
for col in skill_total_cols:
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce')
    df_copy[col] = df_copy[col].fillna(df_copy[col].median())

In [15]:
tech_cols = ['CROSSING', 'FINISHING', 'HEADING_ACCURACY', 'SHORT_PASSING', 'VOLLEYS']
for col in tech_cols:
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce')
    df_copy[col] = df_copy[col].fillna(df_copy[col].median())

In [16]:
phys_cols = ['ACCELERATION', 'SPRINT_SPEED', 'AGILITY', 'REACTIONS']
for col in phys_cols:
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce')
    df_copy[col] = df_copy[col].fillna(df_copy[col].median())

In [17]:
def_cols = ['DEFENDING', 'PHYSICAL', 'STRENGTH', 'STAMINA']
for col in def_cols:
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce')
    df_copy[col] = df_copy[col].fillna(df_copy[col].median())

In [18]:
gk_cols = [col for col in df_copy.columns if col.startswith('GK_')]
for col in gk_cols:
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce')
    df_copy[col] = df_copy[col].fillna(df_copy[col].median())

In [19]:
# Split contract years into start and end
df_copy[['CONTRACT_START', 'CONTRACT_END']] = df_copy['TEAM_CONTRACT'].str.extract(r'(\d{4})\s*-\s*(\d{4})')
df_copy['CONTRACT_START'] = pd.to_numeric(df_copy['CONTRACT_START'], errors='coerce')
df_copy['CONTRACT_END'] = pd.to_numeric(df_copy['CONTRACT_END'], errors='coerce')

### Fill missing international reputation with median

In [20]:

df_copy['INTERNATIONAL_REPUTATION'] = pd.to_numeric(df_copy['INTERNATIONAL_REPUTATION'], errors='coerce')
df_copy['INTERNATIONAL_REPUTATION'] = df_copy['INTERNATIONAL_REPUTATION'].fillna(
    df_copy['INTERNATIONAL_REPUTATION'].median()
)

# Label encode BODY_TYPE
from sklearn.preprocessing import LabelEncoder
body_encoder = LabelEncoder()
df_copy['BODY_TYPE'] = body_encoder.fit_transform(df_copy['BODY_TYPE'].astype(str))

In [21]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58545 entries, 0 to 58544
Data columns (total 64 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AGE                       58545 non-null  int64
 1   OVA                       58545 non-null  int64
 2   POT                       58545 non-null  int64
 3   TEAM_CONTRACT             58545 non-null  object
 4   FOOT                      58545 non-null  int64
 5   BOV                       58545 non-null  int64
 6   BP                        58545 non-null  int64
 7   GROWTH                    58545 non-null  int64
 8   JOINED                    58545 non-null  object
 9   VALUE                     58545 non-null  object
 10  WAGE                      58545 non-null  object
 11  RC                        58545 non-null  float64
 12  TA                        58545 non-null  int64
 13  CROSSING                  58545 non-null  int64
 14  FINISHING                 58545 non-null  int64
 15  HEADING_ACCURACY          58545 non-null  int64
 16  SHORT_PASSING             58545 non-null  int64
 17  VOLLEYS                   58545 non-null  int64
 18  TOTAL_SKILL               58545 non-null  int64
 19  DRIBBLING                 58541 non-null  float64
 20  CURVE                     58545 non-null  int64
 21  FK_ACCURACY               58545 non-null  int64
 22  LONG_PASSING              58545 non-null  int64
 23  BALL_CONTROL              58545 non-null  int64
 24  TOTAL_MOVEMENT            58545 non-null  int64
 25  ACCELERATION              58545 non-null  int64
 26  SPRINT_SPEED              58545 non-null  int64
 27  AGILITY                   58545 non-null  float64
 28  REACTIONS                 58545 non-null  float64
 29  BALANCE                   58544 non-null  float64
 30  TOTAL_POWER               58545 non-null  float64
 31  SHOT_POWER                58544 non-null  float64
 32  JUMPING                   58544 non-null  float64
 33  STAMINA                   58545 non-null  float64
 34  STRENGTH                  58545 non-null  float64
 35  LONG_SHOTS                58543 non-null  float64
 36  TOTAL_MENTALITY           58545 non-null  float64
 37  AGGRESSION                58543 non-null  float64
 38  INTERCEPTIONS             58543 non-null  float64
 39  VISION                    58543 non-null  float64
 40  PENALTIES                 58543 non-null  float64
 41  COMPOSURE                 58542 non-null  float64
 42  TOTAL_DEFENDING           58545 non-null  float64
 43  DEFENSIVE_AWARENESS       58542 non-null  float64
 44  STANDING_TACKLE           58542 non-null  float64
 45  SLIDING_TACKLE            58542 non-null  float64
 46  TOTAL_GOALKEEPING         58545 non-null  float64
 47  GK_DIVING                 58545 non-null  float64
 48  GK_HANDLING               58545 non-null  float64
 49  GK_KICKING                58545 non-null  float64
 50  GK_POSITIONING            58545 non-null  float64
 51  GK_REFLEXES               58545 non-null  float64
 52  TOTAL_STATS               58545 non-null  float64
 53  BASE_STATS                58541 non-null  float64
 54  WEAK_FOOT                 58541 non-null  float64
 55  SKILL_MOVES               58545 non-null  float64
 56  ATTACK_WORK_RATE          58541 non-null  float64
 57  DEFENSIVE_WORK_RATE       58541 non-null  float64
 58  INTERNATIONAL_REPUTATION  0 non-null      float64
 59  BODY_TYPE                 58545 non-null  int64
 60  DEFENDING                 58545 non-null  float64
 61  PHYSICAL                  58545 non-null  float64
 62  CONTRACT_START            0 non-null      float64
 63  CONTRACT_END              0 non-null      float64
dtypes: float64(38), int64(22), object(4)
memory usage: 28.6+ MB

In [22]:
def money_to_numeric(money_str):
    if isinstance(money_str, str):
        money_str = money_str.replace('€', '').strip()
        if 'M' in money_str:
            return float(money_str.replace('M', '')) * 1_000_000
        elif 'K' in money_str:
            return float(money_str.replace('K', '')) * 1_000
        else:
            return float(money_str)
    return np.nan

df_copy['VALUE'] = df_copy['VALUE'].apply(money_to_numeric)
df_copy['WAGE'] = df_copy['WAGE'].apply(money_to_numeric)

numeric_cols = df_copy.select_dtypes(include=[np.number]).columns
df_copy[numeric_cols] = df_copy[numeric_cols].fillna(df_copy[numeric_cols].median())


df_copy['JOINED'] = pd.to_datetime(df_copy['JOINED'], errors='coerce')

df_copy.drop(columns=['INTERNATIONAL_REPUTATION', 'CONTRACT_START', 'CONTRACT_END'], inplace=True)

df_copy['ATTACK_WORK_RATE'] = df_copy['ATTACK_WORK_RATE'].astype(str)
df_copy['DEFENSIVE_WORK_RATE'] = df_copy['DEFENSIVE_WORK_RATE'].astype(str)

In [23]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58545 entries, 0 to 58544
Data columns (total 61 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AGE                  58545 non-null  int64
 1   OVA                  58545 non-null  int64
 2   POT                  58545 non-null  int64
 3   TEAM_CONTRACT        58545 non-null  object
 4   FOOT                 58545 non-null  int64
 5   BOV                  58545 non-null  int64
 6   BP                   58545 non-null  int64
 7   GROWTH               58545 non-null  int64
 8   JOINED               58545 non-null  datetime64[ns]
 9   VALUE                58545 non-null  float64
 10  WAGE                 58545 non-null  float64
 11  RC                   58545 non-null  float64
 12  TA                   58545 non-null  int64
 13  CROSSING             58545 non-null  int64
 14  FINISHING            58545 non-null  int64
 15  HEADING_ACCURACY     58545 non-null  int64
 16  SHORT_PASSING        58545 non-null  int64
 17  VOLLEYS              58545 non-null  int64
 18  TOTAL_SKILL          58545 non-null  int64
 19  DRIBBLING            58545 non-null  float64
 20  CURVE                58545 non-null  int64
 21  FK_ACCURACY          58545 non-null  int64
 22  LONG_PASSING         58545 non-null  int64
 23  BALL_CONTROL         58545 non-null  int64
 24  TOTAL_MOVEMENT       58545 non-null  int64
 25  ACCELERATION         58545 non-null  int64
 26  SPRINT_SPEED         58545 non-null  int64
 27  AGILITY              58545 non-null  float64
 28  REACTIONS            58545 non-null  float64
 29  BALANCE              58545 non-null  float64
 30  TOTAL_POWER          58545 non-null  float64
 31  SHOT_POWER           58545 non-null  float64
 32  JUMPING              58545 non-null  float64
 33  STAMINA              58545 non-null  float64
 34  STRENGTH             58545 non-null  float64
 35  LONG_SHOTS           58545 non-null  float64
 36  TOTAL_MENTALITY      58545 non-null  float64
 37  AGGRESSION           58545 non-null  float64
 38  INTERCEPTIONS        58545 non-null  float64
 39  VISION               58545 non-null  float64
 40  PENALTIES            58545 non-null  float64
 41  COMPOSURE            58545 non-null  float64
 42  TOTAL_DEFENDING      58545 non-null  float64
 43  DEFENSIVE_AWARENESS  58545 non-null  float64
 44  STANDING_TACKLE      58545 non-null  float64
 45  SLIDING_TACKLE       58545 non-null  float64
 46  TOTAL_GOALKEEPING    58545 non-null  float64
 47  GK_DIVING            58545 non-null  float64
 48  GK_HANDLING          58545 non-null  float64
 49  GK_KICKING           58545 non-null  float64
 50  GK_POSITIONING       58545 non-null  float64
 51  GK_REFLEXES          58545 non-null  float64
 52  TOTAL_STATS          58545 non-null  float64
 53  BASE_STATS           58545 non-null  float64
 54  WEAK_FOOT            58545 non-null  float64
 55  SKILL_MOVES          58545 non-null  float64
 56  ATTACK_WORK_RATE     58545 non-null  object
 57  DEFENSIVE_WORK_RATE  58545 non-null  object
 58  BODY_TYPE            58545 non-null  int64
 59  DEFENDING            58545 non-null  float64
 60  PHYSICAL             58545 non-null  float64
dtypes: datetime64[ns](1), float64(35), int64(22), object(3)
memory usage: 27.2+ MB

In [24]:
columns_to_drop = [
    'JOINED', 'RC', 'TA',
    'TOTAL_SKILL', 'TOTAL_MOVEMENT', 'TOTAL_POWER', 'TOTAL_MENTALITY',
    'TOTAL_DEFENDING', 'TOTAL_GOALKEEPING', 'TOTAL_STATS', 'BASE_STATS',
    'GK_DIVING', 'GK_HANDLING', 'GK_KICKING', 'GK_POSITIONING', 'GK_REFLEXES',
    'TEAM_CONTRACT',
    'ATTACK_WORK_RATE', 'DEFENSIVE_WORK_RATE',
    'BODY_TYPE',
    'DEFENDING', 'PHYSICAL'
]
df_copy.drop(columns=columns_to_drop, inplace=True)

In [25]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58545 entries, 0 to 58544
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AGE                  58545 non-null  int64
 1   OVA                  58545 non-null  int64
 2   POT                  58545 non-null  int64
 3   FOOT                 58545 non-null  int64
 4   BOV                  58545 non-null  int64
 5   BP                   58545 non-null  int64
 6   GROWTH               58545 non-null  int64
 7   VALUE                58545 non-null  float64
 8   WAGE                 58545 non-null  float64
 9   CROSSING             58545 non-null  int64
 10  FINISHING            58545 non-null  int64
 11  HEADING_ACCURACY     58545 non-null  int64
 12  SHORT_PASSING        58545 non-null  int64
 13  VOLLEYS              58545 non-null  int64
 14  DRIBBLING            58545 non-null  float64
 15  CURVE                58545 non-null  int64
 16  FK_ACCURACY          58545 non-null  int64
 17  LONG_PASSING         58545 non-null  int64
 18  BALL_CONTROL         58545 non-null  int64
 19  ACCELERATION         58545 non-null  int64
 20  SPRINT_SPEED         58545 non-null  int64
 21  AGILITY              58545 non-null  float64
 22  REACTIONS            58545 non-null  float64
 23  BALANCE              58545 non-null  float64
 24  SHOT_POWER           58545 non-null  float64
 25  JUMPING              58545 non-null  float64
 26  STAMINA              58545 non-null  float64
 27  STRENGTH             58545 non-null  float64
 28  LONG_SHOTS           58545 non-null  float64
 29  AGGRESSION           58545 non-null  float64
 30  INTERCEPTIONS        58545 non-null  float64
 31  VISION               58545 non-null  float64
 32  PENALTIES            58545 non-null  float64
 33  COMPOSURE            58545 non-null  float64
 34  DEFENSIVE_AWARENESS  58545 non-null  float64
 35  STANDING_TACKLE      58545 non-null  float64
 36  SLIDING_TACKLE       58545 non-null  float64
 37  WEAK_FOOT            58545 non-null  float64
 38  SKILL_MOVES          58545 non-null  float64
dtypes: float64(21), int64(18)
memory usage: 17.4 MB

In [26]:
df_copy.isnull().sum()

AGE                    0
OVA                    0
POT                    0
FOOT                   0
BOV                    0
BP                     0
GROWTH                 0
VALUE                  0
WAGE                   0
CROSSING               0
FINISHING              0
HEADING_ACCURACY       0
SHORT_PASSING          0
VOLLEYS                0
DRIBBLING              0
CURVE                  0
FK_ACCURACY            0
LONG_PASSING           0
BALL_CONTROL           0
ACCELERATION           0
SPRINT_SPEED           0
AGILITY                0
REACTIONS              0
BALANCE                0
SHOT_POWER             0
JUMPING                0
STAMINA                0
STRENGTH               0
LONG_SHOTS             0
AGGRESSION             0
INTERCEPTIONS          0
VISION                 0
PENALTIES              0
COMPOSURE              0
DEFENSIVE_AWARENESS    0
STANDING_TACKLE        0
SLIDING_TACKLE         0
WEAK_FOOT              0
SKILL_MOVES            0
dtype: int64

In [27]:
df_copy.head()

,AGE,OVA,POT,FOOT,BOV,BP,GROWTH,VALUE,WAGE,CROSSING,...,AGGRESSION,INTERCEPTIONS,VISION,PENALTIES,COMPOSURE,DEFENSIVE_AWARENESS,STANDING_TACKLE,SLIDING_TACKLE,WEAK_FOOT,SKILL_MOVES
0,19,79,88,0,81,0,9,38000000.0,60000.0,73,...,61.0,59.0,59.0,71.0,78.0,82.0,164.0,52.0,2048.0,442.0
1,19,83,89,0,85,4,6,55000000.0,73000.0,67,...,84.0,81.0,81.0,77.0,84.0,85.0,224.0,73.0,2188.0,467.0
2,27,86,86,1,86,12,0,72500000.0,145000.0,84,...,54.0,38.0,38.0,83.0,84.0,84.0,118.0,42.0,2093.0,442.0
3,23,85,89,0,87,0,4,77500000.0,120000.0,78,...,62.0,40.0,40.0,84.0,83.0,84.0,111.0,38.0,2090.0,446.0
4,25,88,89,1,88,4,1,108500000.0,220000.0,86,...,64.0,69.0,69.0,84.0,91.0,87.0,197.0,68.0,2242.0,463.0

## Feature Engineering

In [28]:
df_copy['GROWTH_POTENTIAL'] = df_copy['POT'] - df_copy['OVA']

In [29]:
df_copy['PHYSICAL_POWER'] = (
    df_copy['STAMINA'] + df_copy['STRENGTH'] + df_copy['JUMPING']
)

In [30]:
df_copy['SKILL_INTENSITY'] = (
    df_copy['CROSSING'] + df_copy['FINISHING'] + df_copy['DRIBBLING'] +
    df_copy['BALL_CONTROL'] + df_copy['SHORT_PASSING']
)

In [31]:
df_copy['DEFENSE_SCORE'] = (
    df_copy['DEFENSIVE_AWARENESS'] + df_copy['STANDING_TACKLE'] + df_copy['SLIDING_TACKLE']
)

In [32]:
df_copy['ATTACKING_MINDSET'] = (
    df_copy['VISION'] + df_copy['COMPOSURE'] + df_copy['AGGRESSION']
)

In [33]:
df_copy['EXPLOSIVENESS'] = (
    df_copy['ACCELERATION'] + df_copy['SPRINT_SPEED'] + df_copy['AGILITY']
)

In [34]:
df_copy['VALUE_WAGE_RATIO'] = df_copy['VALUE'] / (df_copy['WAGE'] + 1)

In [36]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58545 entries, 0 to 58544
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AGE                  58545 non-null  int64
 1   OVA                  58545 non-null  int64
 2   POT                  58545 non-null  int64
 3   FOOT                 58545 non-null  int64
 4   BOV                  58545 non-null  int64
 5   BP                   58545 non-null  int64
 6   GROWTH               58545 non-null  int64
 7   VALUE                58545 non-null  float64
 8   WAGE                 58545 non-null  float64
 9   CROSSING             58545 non-null  int64
 10  FINISHING            58545 non-null  int64
 11  HEADING_ACCURACY     58545 non-null  int64
 12  SHORT_PASSING        58545 non-null  int64
 13  VOLLEYS              58545 non-null  int64
 14  DRIBBLING            58545 non-null  float64
 15  CURVE                58545 non-null  int64
 16  FK_ACCURACY          58545 non-null  int64
 17  LONG_PASSING         58545 non-null  int64
 18  BALL_CONTROL         58545 non-null  int64
 19  ACCELERATION         58545 non-null  int64
 20  SPRINT_SPEED         58545 non-null  int64
 21  AGILITY              58545 non-null  float64
 22  REACTIONS            58545 non-null  float64
 23  BALANCE              58545 non-null  float64
 24  SHOT_POWER           58545 non-null  float64
 25  JUMPING              58545 non-null  float64
 26  STAMINA              58545 non-null  float64
 27  STRENGTH             58545 non-null  float64
 28  LONG_SHOTS           58545 non-null  float64
 29  AGGRESSION           58545 non-null  float64
 30  INTERCEPTIONS        58545 non-null  float64
 31  VISION               58545 non-null  float64
 32  PENALTIES            58545 non-null  float64
 33  COMPOSURE            58545 non-null  float64
 34  DEFENSIVE_AWARENESS  58545 non-null  float64
 35  STANDING_TACKLE      58545 non-null  float64
 36  SLIDING_TACKLE       58545 non-null  float64
 37  WEAK_FOOT            58545 non-null  float64
 38  SKILL_MOVES          58545 non-null  float64
 39  GROWTH_POTENTIAL     58545 non-null  int64
 40  PHYSICAL_POWER       58545 non-null  float64
 41  SKILL_INTENSITY      58545 non-null  float64
 42  DEFENSE_SCORE        58545 non-null  float64
 43  ATTACKING_MINDSET    58545 non-null  float64
 44  EXPLOSIVENESS        58545 non-null  float64
 45  VALUE_WAGE_RATIO     58545 non-null  float64
dtypes: float64(27), int64(19)
memory usage: 20.5 MB

In [37]:
df_copy.head()

,AGE,OVA,POT,FOOT,BOV,BP,GROWTH,VALUE,WAGE,CROSSING,...,SLIDING_TACKLE,WEAK_FOOT,SKILL_MOVES,GROWTH_POTENTIAL,PHYSICAL_POWER,SKILL_INTENSITY,DEFENSE_SCORE,ATTACKING_MINDSET,EXPLOSIVENESS,VALUE_WAGE_RATIO
0,19,79,88,0,81,0,9,38000000.0,60000.0,73,...,52.0,2048.0,442.0,9,211.0,389.0,298.0,198.0,253.0,633.322778
1,19,83,89,0,85,4,6,55000000.0,73000.0,67,...,73.0,2188.0,467.0,6,247.0,383.0,382.0,249.0,243.0,753.414337
2,27,86,86,1,86,12,0,72500000.0,145000.0,84,...,42.0,2093.0,442.0,0,197.0,424.0,244.0,176.0,279.0,499.996552
3,23,85,89,0,87,0,4,77500000.0,120000.0,78,...,38.0,2090.0,446.0,4,228.0,414.0,233.0,185.0,257.0,645.827951
4,25,88,89,1,88,4,1,108500000.0,220000.0,86,...,68.0,2242.0,463.0,1,210.0,421.0,352.0,224.0,226.0,493.179576

### Splitting the data into Training and Testing

In [38]:
x = df_copy.drop('VALUE',axis = 1)
y = df_copy['VALUE']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

### Random Forest

In [39]:
def RF():
    from sklearn.ensemble import RandomForestRegressor

    model = RandomForestRegressor(
        n_estimators=50,         
        max_depth=5,             
        min_samples_leaf=10,     
        max_features='sqrt',     
        random_state=42          
    )

    model.fit(x_train, y_train)
    return model

### K Nearest Neighbour Regression

In [40]:
from sklearn.neighbors import KNeighborsRegressor
def KNN():
    model = KNeighborsRegressor()
    model.fit(x_train,y_train)
    return model

### Decision Tree

In [41]:
from sklearn.tree import DecisionTreeRegressor

def DT():
    model = DecisionTreeRegressor(
        criterion='squared_error',
        max_depth=3,             
        min_samples_split=10,    
        min_samples_leaf=5,      
        max_features=0.5,        
        random_state=42
    )
    model.fit(x_train, y_train)
    return model

### Ridge Regression

In [42]:
from sklearn.linear_model import Ridge

def create_ridge_model():
    model = Ridge(alpha=1.0)
    model.fit(x_train, y_train)
    return model

### Model Evaluation function

In [43]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,root_mean_squared_error,r2_score

def evaluate_model(model):
    y_pred = model.predict(x_test)
    MAE = mean_absolute_error(y_test, y_pred)
    MSE = mean_squared_error(y_test, y_pred)
    RMSE = root_mean_squared_error(y_test, y_pred)
    R2 = r2_score(y_test, y_pred)
    return f"{MAE:.2f}", f"{MSE:.2f}", f"{RMSE:.2f}", f"{R2:.2f}"

In [44]:
models = []
models.append({"name": "Random Forest", "model": RF()})
models.append({"name": "Decision Tree", "model": DT()})
models.append({"name": "Ridge Regression", "model": create_ridge_model()})
models.append({"name": "K Nearest Neighbor Regressor","model":KNN()})

In [45]:
# evaluate all the models
for info in models:
    MAE, MSE, RMSE, R2 = evaluate_model(info["model"])
    info["Mean Absolute Error (MAE)"] = MAE
    info["Mean Squared Error (MSE)"] = MSE
    info["Root Mean Squared Error (RMSE)"] = RMSE
    info["R2 – Score"] = R2

In [46]:
# print the evaluation report
df_evaluation_report = pd.DataFrame(models, columns=["name", "Mean Absolute Error (MAE)", "Mean Squared Error (MSE)", "Root Mean Squared Error (RMSE)", "R2 – Score"])
df_evaluation_report

,name,Mean Absolute Error (MAE),Mean Squared Error (MSE),Root Mean Squared Error (RMSE),R2 – Score
0,Random Forest,2402129.16,20373744746757.82,4513728.48,0.88
1,Decision Tree,3700619.20,39073352019494.30,6250868.10,0.78
2,Ridge Regression,4295759.49,49578335581448.74,7041188.51,0.72
3,K Nearest Neighbor Regressor,873151.73,10072931793006.15,3173788.24,0.94

### Getting the top 10 features

In [47]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge

# Train Ridge model (if not already trained)
ridge_model = Ridge(alpha=1.0)
ridge_model.fit(x_train, y_train)

# Step 1: Get Feature Importance (from coefficients)
feature_importance = pd.Series(
    np.abs(ridge_model.coef_), 
    index=x_train.columns
).sort_values(ascending=False)

# Step 2: Select top N important features
top_n = 10 
top_features = feature_importance.head(top_n).index.tolist()
print("Top features:\n", top_features)

Top features:
 ['BOV', 'AGE', 'FOOT', 'OVA', 'GROWTH', 'GROWTH_POTENTIAL', 'FINISHING', 'REACTIONS', 'LONG_PASSING', 'BALL_CONTROL']

In [48]:
def predict_value(user_input: dict):
    default_input = x_train.mean().to_dict()
    
    default_input.update(user_input)
    
    final_input = pd.DataFrame([default_input])[x_train.columns]
    
    predicted_value = ridge_model.predict(final_input)[0]
    return predicted_value

In [49]:
palyer_features = {'BOV':85,
                   'AGE':19,
                   'GROWTH':9,
                   'FOOT':1,
                   'GROWTH_POTENTIAL':6,
                   'OVA':66,
                   'FINISHING':60,
                   'REACTIONS':75,
                   'LONG_PASSING':42,
                   'BALL_CONTROL':90}

In [50]:
prediction = predict_value(palyer_features)
print("Predicted VALUE:", prediction)

Predicted VALUE: 27898227.644286036

In [51]:

knn_model = KNN()

def predict_value_knn(user_input: dict):
    
    
    default_input = x_train.mean().to_dict()
    
    
    default_input.update(user_input)

    
    final_input = pd.DataFrame([default_input])[x_train.columns]

    
    predicted_value = knn_model.predict(final_input)[0]
    return predicted_value


palyer_features = {
    'BOV': 85,
    'AGE': 19,
    'GROWTH': 9,
    'FOOT': 1,
    'GROWTH_POTENTIAL': 6,
    'OVA': 66,
    'FINISHING': 60,
    'REACTIONS': 75,
    'LONG_PASSING': 42,
    'BALL_CONTROL': 90
}

prediction = predict_value_knn(palyer_features)
print("Predicted VALUE:", prediction)

Predicted VALUE: 38000000.0

In [53]:
rf = RF()



def predict_value_rf(user_input: dict):
    
    # Fill all features with mean values
    default_input = x_train.mean().to_dict()
    
    # Override with user-provided top feature values
    default_input.update(user_input)

    # Ensure column order matches training data
    final_input = pd.DataFrame([default_input])[x_train.columns]

    # Predict using trained KNN model
    predicted_value = rf.predict(final_input)[0]
    return predicted_value

# Step 3: Define player features and get prediction
palyer_features = {
    'BOV': 85,
    'AGE': 19,
    'GROWTH': 9,
    'FOOT': 1,
    'GROWTH_POTENTIAL': 6,
    'OVA': 66,
    'FINISHING': 60,
    'REACTIONS': 75,
    'LONG_PASSING': 42,
    'BALL_CONTROL': 90
}

# Get prediction
prediction = predict_value_rf(palyer_features)
print("Predicted VALUE:", prediction)

Predicted VALUE: 15500688.355029788

## Dumping the model

In [56]:

import pickle
model_filename = "random_forest.pkl"
with open(model_filename, "wb") as file:
    pickle.dump(rf, file)

print(f"Model saved to {model_filename}")

Model saved to random_forest.pkl

In [61]:

with open("random_forest.pkl", "wb") as f:
    pickle.dump(rf, f)

# Save training column names
with open("x_train_columns.pkl", "wb") as f:
    pickle.dump(list(x_train.columns), f)

# Save mean values of all features
with open("x_train_mean.pkl", "wb") as f:
    pickle.dump(x_train.mean().to_dict(), f)